/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
  
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ----- Utility Styles ----- */

.container{
  width:80vw;
  margin:0 auto;
  max-width:900px;
}

/* ----- Global Styles ---- */

body{
  font-family: 'Roboto Condensed', sans-serif;
  margin:0;
}

header.primary{
    background-color:#99BCF0;
    text-align:center;
    color:#ffffff;
    text-shadow: 1px 1px #000000; 
    /*longform*/
    padding-top:40px;
    padding-right:40px;
    padding-bottom:20px;
    padding-left:40px;
    /* Shorthand T,R,B,L*/
    padding: 40px 40px 20px 40px;
    /* Shorthand Top/Bottom, Left/Right*/
    padding: 20px 40px;
}

header.primary h1{
  font-size: 3.2rem;
  margin:20px 0px;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size:2em;
    /* Shorthand Three Value Top, Left/Right, Bottom*/
    margin:20px auto 40px;
}

header.primary nav li{
    list-style-type:none;
    padding:0;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:0;
  max-width:900px;
  margin:20px auto;
}

header.primary nav a:link, header.primary nav.a visited{
  color:white;
  text-decoration:none;
  background-color:#418CF2;
  background-color:rgba(65,140,242, .5);
  padding:8px 16px;
  border-radius:20px;
}

header.primary nav a:hover, header.primary nav a:active{
  background-color:rgba(65,140,242,1);
  transition:.6s;
}


/* ---------------Media Queries----------------- */
/*this basically the ul list items or buttons presented 
horizontally to be presented vertically in order to fit a smaller screen format*/


@media screen and (max-width:600px){
  
 header.primary nav ul{
  flex-direction:column;
   margin:0 auto;
   } 
  
  header.primary nav ul li{
    margin-bottom:10px;
  }
  
  header.primary nav ul li a{
    display:block;
  }
  
}